<footer class="site-footer">
  <div class="wrapper">
    {% comment %} <h2 class="footer-heading">{{ site.title }}</h2> {% endcomment %}
    <div class="footer-col-wrapper">
      <div>
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>{% include icon-email.html %}</li>
          <li>{% include icon-website.html url="https://paul.grozav.info" %}</li>
          <li>{% include icon-rss.html %}</li>
        </ul>
      </div>
      &nbsp;
      <div>
        <ul class="social-media-list">
          {% if site.github_username %}
            <li>{% include icon-github.html username=site.github_username %}</li>
          {% endif %}
          {% if site.gitlab_username %}
            <li>{% include icon-gitlab.html username=site.gitlab_username %}</li>
          {% endif %}
          {% if site.linkedin_username %}
            <li>{% include icon-linkedin.html username=site.linkedin_username %}</li>
          {% endif %}
        </ul>
      </div>
      &nbsp;
      <div>
        <p style="font-size: 14px;">{{ site.description }}</p>
        &nbsp;
        <p style="font-size: 12px;">
          build_version:
            {{ site.build.version | append: "_" | append: site.build.commit }}
        </p>
        <p style="font-size: 12px;">build_date: {{ site.build.date }}</p>
      </div>
    </div>
  </div>
</footer>
