<head>
  {% include tracking.html %}

  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | replace: '\n', ' ' | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
  <meta name="author" content="Tancredi-Paul Grozav"/>
  <meta name="robots" content="index,follow"/>
  <meta name="keywords" content="linux,cpp,math,paul,grozav,tancredi"/>

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"/>
  {% comment %} Cookie consent - https://www.osano.com/cookieconsent/download/ {% endcomment %}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"/>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
