{% comment %} Global site tag (gtag.js) - Google Analytics {% endcomment %}
<script async type="text/plain" data-cookiecategory="analytics" src="https://www.googletagmanager.com/gtag/js?id=G-WH0V893D4S"></script>
<script type="text/plain" data-cookiecategory="analytics">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-WH0V893D4S');
</script>

{% comment %} Google Property verification {% endcomment %}
<meta name="google-site-verification" content="_MwlBIYNphLgBwLCgLo_OL758taIoZ-BDLBhSqiY7vo" />
